<!doctype html>
<html lang="<%= meta.LANG %>" id="<%= PAGE_ID %>" data-menu="<%= MENU_ID %>">

  <head>
    <%- include('./head.ejs') -%>
    <%- include('./javascript-top.ejs') -%>
  </head>
  
  <body class="">
    

    <!-- Header -->
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui text container">
        <h1 class="ui inverted header">
          Xiao Palin / 肖佩林 Xiàopèilín
        </h1>
      </div>
      
    </div>
    <!-- END Header -->



    <div id="content-wrapper" class="main container">      
      <%- render.includeHtml(CONTENT,{PAGE_ID:PAGE_ID,MENU_ID:MENU_ID}); -%>      
    </div>








    <!-- Footer -->
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="./home.html" class="item">Consola</a>
              <a href="#" class="item">Item</a>
              <a href="#" class="item">Item</a>
              <a href="#" class="item">Item</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Item</a>
              <a href="#" class="item">Item</a>
              <a href="#" class="item">Item</a>
              <a href="#" class="item">Item</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END Footer -->


    
  </body>  
</html>

$ git remote -v 
origin	https://github.com/angelventura/xiaopalin (fetch)
origin	https://github.com/angelventura/xiaopalin (push)


git remote set-url origin git@github.com:angelventura/xiaopalin.git
