<%- r.jspHeader() %>
<!doctype html>
<html lang="<%= meta.LANG %>2" id="<%= ID %>">

    <head>
    <%- include('./head.ejs') -%>
    <%- include('./javascript-top.ejs') -%>

        <style type="text/css">
    body {
      background-color: #F0F7FF;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
         </style>
         
    </head>

    <body>
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui blue image header">
            <img src="./img/logo--mobile.svg" class="image">
            <div class="content">
              <%- meta.APPLICATION_TITLE %>
            </div>
          </h2>
          <form class="ui large form">
            
            <div class="ui inverted dimmer">
              <div class="ui text loader">Loading</div>
            </div>
      
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="login" placeholder="User Id">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>

              <div class="field">
                <div class="ui left icon input">
                  <select class="ui fluid dropdown item servers-dropdown" id="select">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              
              <div class="ui fluid large blue submit button">Login</div>
            </div>
            
            <div id="error-console" class="ui error message"></div>
            
          </form>
          
          <div class="ui message">

            Version: <span class="system-version-icon-sel"><%- package.version %> | <%- config.buildDate %></span>

            <a class="ui item system-status-icon-sel" href="./status-tab.html">
            </a>
            
          </div>
        </div>
      </div>
      
    </body>
</html>
<%- r.jspFooter() %>
